@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p><a href="https://github.com/lpln25/asp/tree/main/Dapper">Dapper نمونه کد پیاده سازی شده با  </a></p>
</div>
